// Import Bulma's core
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Poppins:400,500,600,700');
$family-sans-serif: 'Poppins', sans-serif;
$family-primary: $family-sans-serif;

// Breakpoints
$fullhd: 1200px + (2 * $gap);


// Form control overrides
$label-weight: 500;
$control-radius: 3px;
$input-shadow:none;
// End form control overrides

$box-radius: $radius-small;

// Table overrides
$table-cell-border: none;
$table-cell-padding:   1em 0.75em;
$table-head-cell-border-width: 0px;
// End table overrides

@import "~bulma/sass/utilities/derived-variables";
// Tabs override
$tabs-link-active-color: $dark;
$tabs-link-padding: 1rem .5rem;
// End Tabs override
